:root {
    --primary-color: #F07807;
    --secundary-color: #F7E5D8;
    --default-shadow: 0 4px 8px #0008;
    --default-padding: 0 80px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol, li {
    list-style: none;
}

body {
   
   font-family: "Poppins", sans-serif;
   background-color: var(--secundary-color);
}

header {
    height: 60px;
    position: fixed;
    width: 100vw;
    top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--default-padding);
}

header menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    font-size: 1rem;
}

header li {
    padding: 4px 8px;
    transition: .5s;
}

header li:hover {
    background-color: var(--secundary-color);
    box-shadow: var(--default-shadow);
}

.login {
    height: 48px;
    width: 120px;
    border-radius: 12px;
    border: none;
    background-color: var(--secundary-color);
    box-shadow: var(--default-shadow);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

section {
    height: 100vh;
    padding: var(--default-padding);
}

.home {
    background-color: var(--secundary-color);
    background-image: url(./img/background-home.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 60%;
}

.cardapio {
    background-color: plum;
}

.servicos {
    background-color: lightblue;
}

footer {
    background-color: pink;
    height: 526px;
}